<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thunderbolts</title>

    <link rel="stylesheet" href="../css/singIn.css"/>
</head>
<body>
    <div class="container">
        <form id="formLogin" method="post" onsubmit="autenticar(); return false;">
            <img src="../images/Logo.png" alt="Thunderbolts Logo"/>

            <input 
                type="email"
                placeholder="Email"
                id="email"
            />

            <input
                type="password"
                placeholder="Senha"
                id="password"
            />

            <button type="submit" >Entrar</button>
            <hr>
            <a href="../views/signUp.html">Criar Conta</a>
        </form>
    </div>
</body>
</html>

<script>
    function autenticar() {
        var dados = $('#formLogin').serialize();

        $.ajax({
            url: "login",
            type: 'POST',
            data: dados
        })
            .done(function (resposta) {
                //window.location.href = 'grafico.html'; - url da pagina que deve ser renderisada apos o login
            })
            .fail(function (data) {
                console.log(data);
                $('#span_mensagem').html(data.responseJSON.mensagem);
            });

        return false;
    }

</script>