<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thunderbolts</title>
</head>
<body>
    <div class='container' id='container-form'>
        <form class='form-signUp' action=''>
            
            <input 
            type="text"
            placeholder="Nome"
            id="name"
            />

            <input
            type="text"
            placeholder="Sobrenome"
            id="lastName"
            />

            <input
                type="email"
                placeholder="Email"
                id=""
            />

        </form>
    </div>
</body>
</html>